{% include 'header.html.twig' %}
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2>{{ app.translator.trans('lets_roll') }}</h2>
			</div>
		</div>
		<div id="choices"class="row">
			<div class="col s6 offset-s3">
				<ul id="restaurants_list" class="collection">
					<li class="collection-item">
						<div>
							<input id="restaurants[1]" class="restaurant" type="text" required="">
							<label for="restaurants[1]">{{ app.translator.trans('first_restaurant') }}</label>
						</div>
					</li>
					<li class="collection-item">
						<div>
							<input id="restaurants[2]" class="restaurant" type="text" required="">
							<label for="restaurants[2]">{{ app.translator.trans('second_restaurant') }}</label>
						</div>
					</li>
					<li class="collection-item">
						<div>
							<input id="restaurants[3]" class="restaurant" type="text" required="">
							<label for="restaurants[3]">{{ app.translator.trans('third_restaurant') }}</label>
						</div>
					</li>
				</ul>
				<div id="buttons">
					<p style="float:left; margin-top: 25px; margin-left: 30px;">
						<a id="add_restaurant" class="waves-effect waves-light btn btn-grey"><i class="fa fa-plus"></i>{{ app.translator.trans('add_choose') }}</a>
					</p>
					<p style="float:right; margin-right: 30px;">
						<a id="go" class="waves-effect waves-light btn-large btn-green"><i class="fa fa-check"></i>{{ app.translator.trans('go_choose') }}</a>
					</p>
				</div>		
			</div>
		</div>

		<div id="results">
			<div class="col s12">
				<div class="card small" style="height: 470px;">
					<div class="card-image" style="height: 320px;">
						<img id="restaurant_image" src="{{ app.request.basepath }}/img/choose2.jpg">
						<span id="restaurant_title" class="card-title"></span>
					</div>  
					<div class="card-content" style="background: white;">
						<p>
							Aesthetic organic irony, Cosby sweater swag try-hard meditation lo-fi blog flexitarian raw denim next level health goth mustache. Williamsburg cred authentic trust fund. Pickled seitan iPhone, semiotics mumblecore literally taxidermy. Pickled Marfa deep v, keffiyeh kitsch photo booth hella vinyl disrupt bitters Carles Wes Anderson forage. Cosby sweater swag try-hard meditation lo-fi blog flexitarian raw denim next level health goth mustache. Williamsburg cred authentic trust fund.	
						</p>
					</div>
					<div class="card-action">
						<a href="#">{{ app.translator.trans('website') }}</a>
						<a href="#">+33(0)1 23 45 67 89</a>
					</div>
				</div>
				<p id="retry">
					<a id="retry_button" class="waves-effect waves-light btn-large btn-black"><i class="fa fa-random"></i>{{ app.translator.trans('retry_choose') }}</a>
				</p>
			</div>
		</div>

		<div id="loading">
			<div class="preloader-wrapper big active animated bounceOutLeft">
			  <div class="spinner-layer spinner-blue">
			    <div class="circle-clipper left">
			      <div class="circle"></div>
			    </div><div class="gap-patch">
			      <div class="circle"></div>
			    </div><div class="circle-clipper right">
			      <div class="circle"></div>
			    </div>
			  </div>
			  <div class="spinner-layer spinner-red">
			    <div class="circle-clipper left">
			      <div class="circle"></div>
			    </div><div class="gap-patch">
			      <div class="circle"></div>
			    </div><div class="circle-clipper right">
			      <div class="circle"></div>
			    </div>
			  </div>
			  <div class="spinner-layer spinner-yellow">
			    <div class="circle-clipper left">
			      <div class="circle"></div>
			    </div><div class="gap-patch">
			      <div class="circle"></div>
			    </div><div class="circle-clipper right">
			      <div class="circle"></div>
			    </div>
			  </div>
			  <div class="spinner-layer spinner-green">
			    <div class="circle-clipper left">
			      <div class="circle"></div>
			    </div><div class="gap-patch">
			      <div class="circle"></div>
			    </div><div class="circle-clipper right">
			      <div class="circle"></div>
			    </div>
			  </div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="{{ app.request.basepath }}/js/materialize.min.js"></script>
	<script type="text/javascript" src="{{ app.request.basepath }}/js/choose.js"></script>
</body>
</html>