{% include 'header.html.twig' %}
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2>{{ app.translator.trans('lets_roll') }}</h2>
			</div>
		</div>
		<div id="choices"class="row">
			<div class="col s6 offset-s3">
				<ul id="restaurants_list" class="collection">
					<li class="collection-item">
						<div>
							<input id="restaurants[1]" class="restaurant" type="text" required="">
							<label for="restaurants[1]">Restaurant</label>
						</div>
					</li>
					<li class="collection-item">
						<div>
							<input id="restaurants[2]" class="restaurant" type="text" required="">
							<label for="restaurants[2]">Restaurant</label>
						</div>
					</li>
					<li class="collection-item">
						<div>
							<input id="restaurants[3]" class="restaurant" type="text" required="">
							<label for="restaurants[3]">Restaurant</label>
						</div>
					</li>
				</ul>
				<div id="buttons">
					<p style="float:left; margin-top: 25px; margin-left: 30px;">
						<a id="add_restaurant" class="waves-effect waves-light btn btn-grey"><i class="fa fa-plus"></i>{{ app.translator.trans('add_choose') }}</a>
					</p>
					<p style="float:right; margin-right: 30px;">
						<a id="go" class="waves-effect waves-light btn-large btn-green"><i class="fa fa-check"></i>{{ app.translator.trans('go_choose') }}</a>
					</p>
				</div>		
			</div>
		</div>
			<div id="results">
				<div class="col s12">
					<div class="card small" style="background: url({{ app.request.basepath }}/img/choose2.jpg)">
						<div class="card-image" style=" text-align: center;">
							<p style="margin-top: 42px;">
								<span id="restaurant_title" class="card-title" style="position: relative; color: white; font-size: 42px;"></span>
							</p>
						</div>  
					</div>
					<p id="retry">
						<a id="retry_button" class="waves-effect waves-light btn-large btn-black"><i class="fa fa-random"></i>{{ app.translator.trans('retry_choose') }}</a>
					</p>
				</div>
			</div>

		<div id="loading">
			<div class="preloader-wrapper big active animated bounceOutLeft">
			  <div class="spinner-layer spinner-blue">
			    <div class="circle-clipper left">
			      <div class="circle"></div>
			    </div><div class="gap-patch">
			      <div class="circle"></div>
			    </div><div class="circle-clipper right">
			      <div class="circle"></div>
			    </div>
			  </div>
			  <div class="spinner-layer spinner-red">
			    <div class="circle-clipper left">
			      <div class="circle"></div>
			    </div><div class="gap-patch">
			      <div class="circle"></div>
			    </div><div class="circle-clipper right">
			      <div class="circle"></div>
			    </div>
			  </div>
			  <div class="spinner-layer spinner-yellow">
			    <div class="circle-clipper left">
			      <div class="circle"></div>
			    </div><div class="gap-patch">
			      <div class="circle"></div>
			    </div><div class="circle-clipper right">
			      <div class="circle"></div>
			    </div>
			  </div>
			  <div class="spinner-layer spinner-green">
			    <div class="circle-clipper left">
			      <div class="circle"></div>
			    </div><div class="gap-patch">
			      <div class="circle"></div>
			    </div><div class="circle-clipper right">
			      <div class="circle"></div>
			    </div>
			  </div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="{{ app.request.basepath }}/js/materialize.min.js"></script>
	<script type="text/javascript" src="{{ app.request.basepath }}/js/choose.js"></script>
</body>
</html>