{% include 'header.html.twig' %}
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2>{{ app.translator.trans('lets_find') }}</h2>
			</div>
		</div>
			<div id="results">
				<div class="col s12">
					<div class="card small" style="background: url({{ app.request.basepath }}/img/choose2.jpg);">
						<div class="card-image">
							<span id="restaurant_title" class="card-title" style="color: white; font-size: 42px;"></span>
						</div> 
						<div class="card-content" style="background: white;">
							<div class="row">
								<div class="col s6">
								<a href="http://maps.google.com/?q=your+query" target="_blank" id="restaurant_link"><span id="restaurant_address"></span></a><br>
								<img id="restaurant_rating" src="">
								</div>
								<div class="col s6">
									<div id="map-canvas"></div>
								</div>
							</div>
						</div><div style="clear: both;"></div>
						<div class="card-action" style="background: white;">
							<a href="#" id="restaurant_website">{{ app.translator.trans('website') }}</a>
							<a href="#" id="restaurant_phone"></a>
						</div>
					</div>
					<p>
						<a href="#" class="waves-effect waves-light btn-large btn-blue" id="replay_restaurant"><i class="fa fa-random"></i>{{ app.translator.trans('retry_random') }}</a>
					</p>
				</div>
			</div>
			<div id="random">
			<div id="loading">
			<div class="preloader-wrapper big active animated bounceOutLeft">
			  <div class="spinner-layer spinner-blue">
			    <div class="circle-clipper left">
			      <div class="circle"></div>
			    </div><div class="gap-patch">
			      <div class="circle"></div>
			    </div><div class="circle-clipper right">
			      <div class="circle"></div>
			    </div>
			  </div>
			  <div class="spinner-layer spinner-red">
			    <div class="circle-clipper left">
			      <div class="circle"></div>
			    </div><div class="gap-patch">
			      <div class="circle"></div>
			    </div><div class="circle-clipper right">
			      <div class="circle"></div>
			    </div>
			  </div>
			  <div class="spinner-layer spinner-yellow">
			    <div class="circle-clipper left">
			      <div class="circle"></div>
			    </div><div class="gap-patch">
			      <div class="circle"></div>
			    </div><div class="circle-clipper right">
			      <div class="circle"></div>
			    </div>
			  </div>
			  <div class="spinner-layer spinner-green">
			    <div class="circle-clipper left">
			      <div class="circle"></div>
			    </div><div class="gap-patch">
			      <div class="circle"></div>
			    </div><div class="circle-clipper right">
			      <div class="circle"></div>
			    </div>
			  </div>
			</div>
		</div>
		</div>	
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="{{ app.request.basepath }}/js/materialize.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript">
	var map;
	var LatLng;
	var marker;
	function initialize() {


		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(getRandomRestaurant);
		} else { 
			x.innerHTML = "Geolocation is not supported by this browser.";
		}
	}
	//google.maps.event.addDomListener(window, 'load', initialize);

	function getRandomRestaurant(position) {
		$('#loading').show(1, function() {
				$('#loading').addClass('animated bounceIn');
		});
		$.ajax({
			url: "{{ app.url_generator.generate('getRandom') }}",
			type: "GET",
			data: {longitude: position.coords.longitude,latitude:position.coords.latitude},
			dataType: "json",
			success: function (data) {
				if (typeof data.display_phone !== 'undefined') {
   					document.getElementById("restaurant_phone").innerHTML = data.display_phone;
				} else {
   					document.getElementById("restaurant_phone").innerHTML = "{{ app.translator.trans('no_phone') }}";
				}
				if (typeof data.location.display_address !== 'undefined') {
   					document.getElementById("restaurant_address").innerHTML = data.location.display_address;
				} else {
   					document.getElementById("restaurant_address").innerHTML = "{{ app.translator.trans('no_address') }}";
				}
				document.getElementById("restaurant_title").innerHTML = data.name;	
   				document.getElementById("restaurant_address").innerHTML = data.location.display_address;
   				document.getElementById("restaurant_rating").src = data.rating_img_url_large;
   				document.getElementById("restaurant_website").href = data.url;
   				document.getElementById("restaurant_link").href = 'http://maps.google.com/?q='+encodeURIComponent(data.location.display_address);

				//LatLng = new google.maps.LatLng(data.location.coordinate.latitude, data.location.coordinate.longitude);
				//marker.setPosition(LatLng)
				//map.setCenter(LatLng);				
			},
			complete: function(){
        	$('#loading').fadeOut(0);
			$('#results').show(1, function() {
				$('#results').removeClass();
				$('#results').addClass('animated bounceIn');
			});
      		}
		});
	}
	$( document ).ready(function() {
		initialize();
		$(".dropdown-button").dropdown();
	});
	</script>
	<script type="text/javascript" src="{{ app.request.basepath }}/js/random.js"></script>
</body>
</html>